## Adfuser Configuration Directory
adf_config_dir={{ config_dir }}

## AdFuser: enabled(1)|disabled(0)
adf_enabled={{ web_enabled }}
## AdFuser: number of instances | maximum: 1 | default: 1

## Celery: enabled(1)|disabled(0)
celery_enabled={{ celery_enabled }}
## taskman Beat: enabled(1)|disabled(0)
celery_beat={{ beat_enabled }}
## taskman workers: number of instances | maximum: 9 | default: 1
celery_workers={{ celery_workers }}
